body
{ background-color:gray;
font-size:35px;
font-family: 'Trebuchet MS', sans-serif;
}

h1
{
color: #2217c4;;
font-family: 'Trebuchet MS', sans-serif;
font-size:40px;
text-align:center;

}

